.grand-parent {
  width: 50%;
  height: 300px;
  background-color: cornflowerblue;
}
.parent {
  width: 86%;
  height: 250px;
  background-color: pink;
}
.child
{
  width: 60%;
  height: 200px;
  background-color:chocolate;
}