@tailwind base;
@tailwind components;
@tailwind utilities;

.child {
  width: 50%;
  height: 160px;
  border: 2px solid black;
  text-align: center;
}

label {
  font-weight: 600;
}

input::placeholder {
  color: #222;
  font-weight: 500;
}

.parent {
  width: 100%;
  height: auto;
  padding: 60px;
}

.child {
  width: 100%;
  height: auto;
  text-align: start;
  border: 4px dashed white;
}


