@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:bisque;
}

.child {
  width: 50%;
  height: 160px;
  border: 2px solid black;
  text-align: center;
}

label {
  font-weight: 600;
}

input::placeholder {
  color: #222;
  font-weight: bold;
}

.parent {
  width: 100%;
  height: auto;
  padding: 60px;
}

.child {
  width: 100%;
  height: auto;
  text-align: start;
  border: 4px dashed white;
}
