.nav-image {
  width: 50%;
}

.customNavbar {
  background: linear-gradient(90deg, #0d6efd, #6610f2) !important;
  padding: 1rem 0 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.customBtn {
  background-color: transparent !important;
  color: #fff !important;
  border: 2px solid #fff !important;
  transition: all 0.3s ease !important;
  padding: 0.5rem 1rem !important;
  border-radius: 25px !important;
  font-weight: bold !important;
}

.customBtn:hover {
  background-color: #fff !important;
  color: #0d6efd !important;
  transform: translateY(-5px) !important;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2) !important;
}

.navbarNav {
  animation: fadeIn 1s ease-out !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
