.headerbgwhite {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.headerbgdark {
  background-color: #222;
}
.textwhitecolor {
  color: white !important;
}
.textdarkcolor {
  color: #222 !important;
}
.btnWhiteColor {
  background-color: white !important;
  border: 1px solid black !important;
}
.btnDarkColor {
  background-color: #222 !important;
  color: white !important;
  border: 1px solid white !important;
}

.cardbtncolor {
  background-color: darkgrey !important;
}
